@model IEnumerable<F1_App.Models.Driver>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ol class="list-group ui-widget-content" id="DriverList">
    @foreach (var item in Model)
    {
        <li id="@(@item.Id)" class="list-group-item driverItem">
            <div class="row">
                <div class="col-xs-6">
                    <p><b>@item.StandingsPosition</b> - @item.GivenName @item.FamilyName</p>
                    </div>
                <div class="col-xs-3">
                    <p>@item.TeamName</p>
                    </div>
                <div class="col-xs-3">
                    <p>@item.Points Points</p>
                </div>  
            </div>
        </li>
    }
</ol>

