@model IEnumerable<F1_App.Models.Driver>

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>UserPredictions</h4>
<hr />
<div class="row">
    <form asp-action="Create" asp-controller="UserPredictions">
        <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    @for (int i = 0; i < 20; i++)
                    {
                        <li class="list-group-item">
                            <h3>Position @(i + 1)</h3>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group" id="sortable">
                    @foreach (var item in Model)
                    {
                        <li class="ui-state-default">
                            <div class="row" >
                                <div class="col-md-2">
                                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                </div>
                                <div class="col-md-10">
                                    <h3><b>@item.StandingsPosition</b> - @item.GivenName @item.FamilyName</h3>
                                    <h4>@item.TeamName</h4>
                                    <h5>@item.Points Points</h5>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
      $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
