@model F1_App.Models.UserPredictions

@{
    ViewData["Title"] = "Create";    
    List<Driver> driverList = ViewBag.Drivers;
    int editingNo = 0;
    int count = 1;

    

}

<h2>Create</h2>

<h4>UserPredictions</h4>
<hr />
<div class="row">
    
    <button class="btn btn-primary" onclick="submit()">AJAX Submit</button>
    <a class="btn btn-primary" asp-area="" asp-controller="UserPredictions" asp-action="Index">View Predictions</a>

    <div class="row">
        <h2 id="editNo">@editingNo</h2>
        <div class="col-md-6">
            <ol class="list-group" id="DriverList">
                @foreach (var item in driverList)
                {
                    <li id="@(@item.Id)" class="list-group-item driverItem">                        
                        <div class="row">
                            <div class="col-md-8">
                                <h3><b>@item.StandingsPosition</b> - @item.GivenName @item.FamilyName</h3>
                                <h4>@item.TeamName</h4>
                                <h5>@item.Points Points</h5>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" id="@(item)_check" name="RedFlag" value="Red Flag">
                                <label for="RedFlag">DNF</label><br>
                            </div>
                            <div class="col-md-2">
                                <input type="button" name="@item.Id" id="@item.Id" onClick="addDriver(this.id)" value="Add Driver" />
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </div>
        <div class="col-md-6">
            <ol id="PositionList" class="list-group"></ol>
        </div>

    </div>
    @*<input type="submit" value="Create" class="btn btn-default" />




        </form>*@
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    //When Driver Is clicked add to a list.
    function addDriver(id) {
        var node = document.getElementById(id);

        var list = document.getElementById("PositionList");
        list.appendChild(node);
        var item = document.createElement("p");
        $(item).attr("id", "@count");
        $(item).attr("style", "visibility:hidden;");
        @(count++)
    }



    function submit() {
        
        var allData = [];


        $('#PositionList li').each(function (i) {
            var data = {};
            var id = this.id;
            var position = i + 1;
            data.name = id;
            data.position = position;
            allData.push(data);
        });

        
        $.ajax({
            type: "POST",
            url: "/UserPredictions/getPosList",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(allData),
            success: function () {
                sendToIndex();
                //alert(data.Result);
            },
            dataType: "json"
        });



        }

    function sendToIndex() {
            $.ajax({
            type: "GET",
            url: "/UserPredictions/Index",
            success: function () {
                
                //alert(data.Result);
            }
            
        });
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
