@model F1_App.Models.UserPredictions

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserPredictions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Round)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Round)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DriverId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriverId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PossiblePoints)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PossiblePoints)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
