@model F1_App.Models.Tournament

@{
    ViewData["Title"] = "Details";
    List<Microsoft.AspNetCore.Identity.IdentityUser> userList = ViewBag.UserList;
    List<UserPoints> userPoints = ViewBag.UserPList;
    int count = 0;
}

<h2>Details</h2>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdminID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminID)
        </dd>
    </dl>
    <h3>Standings</h3>

    @foreach (var item in userPoints.OrderByDescending(u => u.Points))
    {
        <h5><b>@(count = count + 1)</b>  @(item.UserId) - @(item.Points)</h5>
        
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
