@model F1_App.Models.Tournament

@{
    ViewData["Title"] = "Details";
    List<Microsoft.AspNetCore.Identity.IdentityUser> userList = ViewBag.UserList;
    List<UserPoints> userPoints = ViewBag.UserPList;
    int count = 0;
}

    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <h5>Admin: @Html.DisplayFor(model => model.AdminID)</h5>
<div>
   
    <h3>Standings</h3>

    @foreach (var item in userPoints.OrderByDescending(u => u.Points))
    {
        <h3><b>@(count = count + 1)</b>  @(item.UserName) - @(item.Points) Points</h3>
        
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
