@model IEnumerable<F1_App.Models.Race>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ol class="list-group ui-widget-content" id="RaceList">
    @foreach (var item in Model)
    {
        <li id="@(@item.Id)" class="list-group-item driverItem">
            <div class="row">
                <div class="col-xs-6">
                    <p>@item.RaceName - @item.Country</p>
                </div>
                <div class="col-xs-3">
                    <p>@item.Date</p>
                </div>
                <div class="col-xs-3">
                    <p>@item.Time GMT</p>
                </div>
            </div>
        </li>
    }
</ol>

<script>
    document.querySelector('ol li:nth-child(@ViewBag.Round)').style.backgroundColor = 'red';
</script>
